<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="userTable">
  <header class="py-2 bg-warning text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </header>
  <section class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-6">
          <div classs="input-group">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-warning">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Latest Users List</h3>
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Registered</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="user :${}"></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>